datasets
fsspec
pyarrow
numpy
pandas
python-dotenv
sentence-transformers
transformers
torch
faiss-cpu>=1.8.0
fastapi
uvicorn
pydantic
pytest
requests
boto3
pypdf
pgvector
psycopg[binary]
google-genai
streamlit>=1.32.0
plotly
altair>=5.0.0
bcrypt
chainlit==2.11.1
literalai==0.1.201
cuid==0.4
syncer==2.0.3
PyJWT[crypto]

